* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:;
}
a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-content{
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a{
    color: #ff6f91;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}
.home-info h1{
    font-size: 55px;
    padding: 5px;
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    padding: 15px;
}
.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #ff6f91;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text{
    25%,100%{
        display: none;
    }
}
.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #ff6f91;
    color: #ff6f91;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;

}
@keyframes fill-text{
    10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}
.home-info p{
    font-size: 16px;
}
.home-info ul li{
    line-height: 1.8;
}
footer{
    background-color:#ededed;
    color: #333333;
    text-align: center;
    padding: 15px;
    margin-top: 0.1px;
}
footer p{
    font-size: 14px;
}
section{
    width: 80%;
    margin: auto;
    padding: 20px;
}
section h1{
    color: white;
    margin-bottom: 10px;
}
section p{
    font-size: 16px;
    line-height: 1.6;
    color: white;
}
ul{
    margin-left: 20px;
}
ul li{
    margin-bottom: 8px;
}
section p{margin-bottom: 10px;}
.home-img .img-box{
    position: relative;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #ff6f91);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#1b1b1f ;
    border-radius: 50%;
    border: 1px solid #1b1b1f;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background-color: #1b1b1f;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars{
    100%{
        transform: translateY(0%);
    }
}